{{- if .IsHome -}}
{{- $data := dict "@context" "https://schema.org" "@type" "Person" "name" site.Params.author "alternateName" site.Params.handle "url" site.BaseURL "image" site.Params.avatar "sameAs" (slice site.Params.github site.Params.devto site.Params.hashnode site.Params.twitter) "jobTitle" "Open Source Software Engineer" "knowsAbout" (slice "Kubernetes" "Harbor" "OCI artifacts" "Platform engineering" "Software supply chains") -}}
<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>
{{- else if and .IsPage (eq .Section "blogs") -}}
{{- $author := dict "@type" "Person" "name" site.Params.author "url" site.BaseURL -}}
{{- $data := dict "@context" "https://schema.org" "@type" "BlogPosting" "headline" .Title "description" (.Description | default site.Params.description) "url" .Permalink "datePublished" (.Date.Format "2006-01-02T15:04:05Z07:00") "author" $author -}}
<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>
{{- else if and .IsPage (eq .Section "talks") -}}
{{- $author := dict "@type" "Person" "name" site.Params.author "url" site.BaseURL -}}
{{- $thumbnail := printf "https://i.ytimg.com/vi/%s/hqdefault.jpg" .Params.youtube_id -}}
{{- $embed := printf "https://www.youtube-nocookie.com/embed/%s" .Params.youtube_id -}}
{{- $data := dict "@context" "https://schema.org" "@type" "VideoObject" "name" .Title "description" (.Description | default site.Params.description) "url" .Permalink "embedUrl" $embed "thumbnailUrl" (slice $thumbnail) "uploadDate" (.Date.Format "2006-01-02T15:04:05Z07:00") "creator" $author -}}
<script type="application/ld+json">
{{ $data | jsonify | safeJS }}
</script>
{{- end -}}
